<div class="wrapper">
  <div class="side-bar">Nav</div>
  <div class="main-panel">
    <div class="main-content">
      Hello Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae,
      magni dicta? Voluptates porro delectus expedita rerum beatae ab temporibus
      deserunt incidunt error repudiandae maiores, placeat ducimus explicabo
      eligendi quasi accusamus. Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Nihil facilis, hic eos rem, nulla laudantium architecto
      dignissimos quo itaque voluptas eius odit minima animi ipsa. Delectus
      veniam cupiditate eaque illo? Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Harum ad tempore dolor excepturi illo? At eum
      consectetur odit voluptatem aliquam dolorem inventore dolore! Ex et
      molestiae consectetur excepturi quaerat cumque.
    </div>
  </div>
</div>
