/* You can add global styles to this file, and also import other style files */
@import './assets/styles/mixins/animations';
@import './assets/styles/variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}
